@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bouncy {
  animation: bounce 750ms infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 2.5s linear infinite;
}
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f00000; /* Background of the scrollbar track */
  border-radius: 25px; /* Optional: Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #8c5900; /* Color of the scrollbar thumb */
  border-radius: 25px; /* Optional: Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #8c5900; /* Color when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #8c5900 #fff; /* Thumb color and track color */
}
